.frame-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-item {
  align-self: stretch;
  height: 40.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.rectangle-wrapper {
  width: 153px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}
.about-us,
.event,
.home,
.impact-trips {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.home {
  min-width: 54px;
  cursor: pointer;
}
.about-us,
.event,
.impact-trips {
  white-space: nowrap;
}
.event {
  color: #cad401;
  min-width: 50px;
}
.about-us,
.impact-trips {
  min-width: 83px;
}
.impact-trips {
  min-width: 112px;
}
.home-parent {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-b1-size);
  color: var(--foundation-black-b900);
  font-family: var(--body-b3);
}
.frame-wrapper,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper {
  margin: 0;
  width: 449px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 18px 0 0;
}
.rectangle-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl) 141px 19.3px 130px;
  position: sticky;
  top: 0;
  z-index: 99;
  gap: var(--gap-xl);
}
.transformational-sales-confere {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.transformational-sales-confere-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 5.9px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-inner {
  width: 113px;
  height: 17.9px;
  flex-shrink: 0;
}
.frame-container {
  align-self: stretch;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.the-transformational-sales {
  flex: 1;
  position: relative;
  line-height: 120%;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.the-transformational-sales-con-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-size: var(--body-b3-size);
}
.frame-group {
  width: 810px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  max-width: 100%;
}
.rectangle-icon {
  width: 396px;
  position: relative;
  border-radius: 12px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.account-balance-wallet-icon,
.card {
  height: 24px;
  width: 24px;
  position: relative;
}
.card {
  width: 90px;
  border: 0;
  outline: 0;
  font-family: var(--body-b3);
  font-size: var(--body-b3-size);
  background-color: transparent;
  height: 17px;
  line-height: 120%;
  color: var(--foundation-black-b90);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.account-balance-wallet-parent {
  flex: 1;
  border-radius: 14.84px;
  background-color: var(--foundation-blue-b10);
  border: 2px solid var(--foundation-black-b50);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-32xl) var(--padding-4xs)
    var(--padding-sm-6);
  gap: var(--gap-smi-4);
  min-width: 114px;
}
.sell-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.googlepay {
  width: 90px;
  position: relative;
  line-height: 17px;
  display: inline-block;
  flex-shrink: 0;
}
.sell-parent {
  flex: 1;
  border-radius: 14.84px;
  background-color: var(--foundation-blue-b10);
  border: 2px solid var(--foundation-black-b900);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-32xl) var(--padding-4xs)
    var(--padding-sm-6);
  gap: var(--gap-smi-4);
  min-width: 114px;
}
.attach-money-icon,
.paypal {
  height: 24px;
  width: 24px;
  position: relative;
}
.paypal {
  width: 90px;
  border: 0;
  outline: 0;
  font-family: var(--body-b3);
  font-size: var(--body-b3-size);
  background-color: transparent;
  height: 17px;
  line-height: 120%;
  color: var(--foundation-black-b90);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.attach-money-parent,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.attach-money-parent {
  flex: 1;
  border-radius: 14.84px;
  background-color: var(--foundation-blue-b10);
  border: 2px solid var(--foundation-black-b50);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-32xl) var(--padding-4xs)
    var(--padding-sm-6);
  gap: var(--gap-smi-4);
  min-width: 114px;
}
.frame-parent3 {
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
}
.person-fill0-wght400-grad0-ops-icon {
  height: 29.7px;
  width: 29.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.email-address {
  width: calc(100% - 446.3px);
  border: 0;
  outline: 0;
  font-family: var(--body-b3);
  font-size: var(--body-b3-size);
  background-color: transparent;
  height: 17px;
  flex: 1;
  position: relative;
  line-height: 120%;
  color: var(--foundation-black-b90);
  text-align: left;
  display: inline-block;
  min-width: 92px;
  padding: 0;
}
.person-fill0-wght400-grad0-ops-parent {
  align-self: stretch;
  border-radius: 14.84px;
  background-color: var(--foundation-blue-b10);
  border: 2px solid var(--foundation-black-b50);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) 403px var(--padding-4xs) var(--padding-sm-6);
  gap: var(--gap-smi-4);
}
.key-icon {
  height: 27.3px;
  width: 27.3px;
  position: relative;
}
.password {
  width: calc(100% - 446.90000000000003px);
  border: 0;
  outline: 0;
  font-family: var(--body-b3);
  font-size: var(--body-b3-size);
  background-color: transparent;
  height: 17px;
  flex: 1;
  position: relative;
  line-height: 120%;
  color: var(--foundation-black-b90);
  text-align: left;
  display: inline-block;
  min-width: 92px;
  padding: 0;
}
.frame-parent2,
.key-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.key-parent {
  border-radius: 14.84px;
  background-color: var(--foundation-blue-b10);
  border: 2px solid var(--foundation-black-b50);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) 406px var(--padding-sm) var(--padding-sm-6);
  gap: var(--gap-smi-4);
}
.frame-parent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.image-45-icon {
  height: 25px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.continue-with-google {
  position: relative;
  font-size: var(--body-b3-size);
  line-height: 17px;
  font-family: var(--body-b3);
  color: var(--foundation-black-b900);
  text-align: left;
  display: inline-block;
  min-width: 129px;
}
.frame-button,
.image-45-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button {
  cursor: pointer;
  border: 2px solid var(--foundation-black-b40);
  padding: var(--padding-4xs) var(--padding-xl);
  background-color: var(--foundation-green-g900);
  align-self: stretch;
  border-radius: 14.84px;
  overflow: hidden;
}
.frame-div,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 188px;
}
.frame-div {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 24.8px;
  box-sizing: border-box;
  min-width: 401px;
  max-width: 100%;
}
.frame-parent,
.rectangle-group {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-group {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 103px;
  font-size: var(--body-b3-size);
}
.frame-parent {
  width: 1116px;
  flex-direction: column;
  align-items: flex-start;
  gap: 75px;
}
.register,
.register-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.register-inner {
  width: 1400px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--header-h2-size);
  color: var(--foundation-black-b900);
  font-family: var(--body-b3);
}
.register {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 216px;
  gap: 61px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .rectangle-group {
    gap: 51px;
  }
  .frame-parent {
    gap: 37px;
  }
}
@media screen and (max-width: 1025px) {
  .transformational-sales-confere {
    font-size: 26px;
    line-height: 31px;
  }
  .rectangle-icon {
    flex: 1;
  }
  .rectangle-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper {
    display: none;
  }
  .rectangle-parent {
    padding-left: 65px;
    padding-right: 70px;
    box-sizing: border-box;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .key-parent,
  .person-fill0-wght400-grad0-ops-parent {
    padding-right: 201px;
    box-sizing: border-box;
  }
  .key-parent {
    padding-right: 203px;
  }
  .frame-parent1 {
    gap: 94px;
  }
  .frame-div {
    min-width: 100%;
  }
  .rectangle-group {
    gap: 26px;
  }
  .frame-parent {
    gap: 19px;
  }
  .register {
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .transformational-sales-confere {
    font-size: 19px;
    line-height: 23px;
  }
  .key-parent,
  .person-fill0-wght400-grad0-ops-parent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent1 {
    gap: 47px;
  }
  .register {
    gap: 15px;
  }
}
